<main role="main" class="container">
    <h1>Tania Test for UST Global</h1>
    <div class="form-group">
        <select (change)="updateForms($event)" class="form-control" >
            <option>--</option>
            <option *ngFor="let data of mockData$ | async as mockData;" [value]="data.token">
                {{ data.token }}
            </option>
        </select>
    </div>
    <form [formGroup]="form">
        <div formArrayName="fields">
            <div *ngFor="let field of form.get('fields').controls; let i=index">
                <div class="form-group">
                    <label>{{ selectedToken.fields[i].label }}</label>
                    <ng-container *ngIf="isText(selectedToken.fields[i]); else display_select">
                        <input  class="form-control"  type="text" [id]="selectedToken.fields[i].id" [name]="selectedToken.fields[i].name" [value]="field.value" [formControlName]="i">
                    </ng-container>
                    <ng-template #display_select>
                        <select class="form-control">
                            <option *ngFor="let option of selectedToken.fields[i].fieldValues" [value]="option">
                                {{ option }}
                            </option>
                        </select>
                    </ng-template>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" *ngIf="form.get('fields').controls.length > 0" type="submit" [disabled]="!form.valid">
            Submit
        </button>
    </form>
</main>

